.UVBMeter {
	text-align: center;

	button {
		font-weight: bold;
	}

	.parent {
		position: relative;
		display: inline-block;
	}

	.child {
		width: 50vw;
		position: relative;


	}

	.mask {

		position: absolute;
		top: 0;
		left: 0;
		opacity: 0
	}
.mask-container{
	position: relative;
		display: inline-block;

}
	.needle{

		position:absolute;
		left: 48.5%;
		bottom:0;
		width:3%;

	}
	.holder{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	@media screen and (max-width: 480px) {
		.child {
			width:100vw;
		}
		.needle{


		}


	}
}
