.UVBMeter {
	text-align: center;

	button {
		font-weight: bold;
	}

	.parent {
		position: relative;
		display: inline-block;
	}

	.child {
		width: 35vw;
		position: relative;
	}

	.mask {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0
	}

	.mask-container {
		position: relative;
		display: inline-block;
	}

	.needle {
		position: absolute;
		left: 48.5%;
		bottom: 0;
		width: 3%;
		transition: rotate 300ms ease-out;
		transform-origin: center bottom
	}

	.holder {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.spf-label {
		margin-top: 0em;
		font-size: 1.5em;
	}

	.display-meter {
		margin-bottom: 3em;
	}

	@media screen and (max-width: 480px) {
		.child {
			width: 90vw;
		}

		.display-text {
			margin: auto 5%;

		}
	}
}
