.UVMeters {
	text-align: center;

	button {
		font-weight: bold;
	}

	.parent {
		position: relative;
		display: inline-block;
	}

	.child {
		width: 35vw;
		position: relative;
	}

	.mask {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0
	}

	.mask-container {
		position: relative;
		display: inline-block;
	}

	.needle {
		position: absolute;
		left: 48.5%;
		bottom: 0;
		width: 3%;
		transition: rotate 300ms ease-out;
		transform-origin: center bottom
	}

	.holder {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.spf-label {
		margin-top: 0em;
		font-size: 1.5em;
	}

	.spf-heading {
		font-family: 'Afterglow-Regular';
		font-weight: 500;
		font-size: 60px !important;
		text-align: center;
		margin: 28px 0 11px 0;
	}

	.spf-subheading {
		padding: 0 0 28px !important
	}

	.display-meter {
		margin-bottom: 3em;
	}

	.protection {
		font-size: 1.4em;
		color: #ae9461;
		font-weight: 700;
	}

	.newLine {
		display: inline;
	}

	@media screen and (max-width: 480px) {
		.child {
			width: 90vw;
		}

		.display-text {
			margin: auto 8%;
		}
	}

	@media only screen and (max-width: 550px) {

		.spf-heading {
			font-size: 35px !important;
			margin: 20px 0 0 0;
		}

		.spf-subheading {
			padding: 0 0 22px !important
		}

		.newLine {
			display: block;
			padding: .25em 0
		}
	}
}
