.App {
	text-align: center;


	button {
		font-weight: bold;
	}

	.display-text {
		width: 80%;
		color: #212121;
	}

	.protection {
		font-size: 35px;
		color:#ae9461;
		font-weight: 700;
	}

	.dial-container {
		width: 35vw;

		display: inline-block;
	}
.spf-heading{
	font-family: afterglow;
	font-size: 60px!important;
	text-align: center;

}

	@media only screen and (max-width: 1400px) {
		.dial-container {
			width: 50vw;

		}
	}

	@media only screen and (max-width: 750px) {
		.dial-container {
			width: 60vw;

		}
	}

	@media only screen and (max-width: 550px) {
		.dial-container {
			width: 80vw;

		}
		.spf-heading{

			font-size: 35px!important;


		}
	}

}

.spf-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

}
