* {
  box-sizing: border-box;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  margin: 40px 0 0;
  padding: 20px 0 28px;
  width: 30vw;
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  padding: 5px;
  margin: 3px;
}

.button {
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 28vw;
  cursor: pointer;
  transition: all 0.2s linear;
}

.button:focus {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}
