.UVIndex {
	$assetPath :"";
	text-align: center;

	button {
		font-weight: bold;
	}
	.child{
		width:60vw;
		position: relative;
	}

	.parent {
		position: relative;
		display: inline-block;
	}

	.mask {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
	}

	.mask-container {
		position: relative;
		display: inline-block;
	}

	.uv-search{
		padding: .2em .5em;

	}
	.spf-label {
		margin-top: 0em;
		font-size: 1.5em;
	}

	.spf-heading {
		font-family: 'Afterglow-Regular';
		font-weight: 500;
		font-size: 60px !important;
		text-align: center;
		margin: 28px 0 11px 0;
	}

	.spf-subheading {
		padding: 0 0 28px !important
	}
	.protection {
		font-size: 1.4em;
		color: #ae9461;
		font-weight: 700;
	}



}
