.App {
	text-align: center;

	button {
		font-weight: bold;
	}
	.box{
		border: 1px solid #222;
		display: inline-block;
		width: 400px;
		height: 400px;
		text-align: center;
		position: absolute;
		bottom:20px;
		left:600px;

	}
  .box1{
		z-index: 10;
	}
	.box2{
			z-index: 1;
	}
	.meter-container{
		position: absolute;
		width:500px;
		height: 500px;
		left:600px;
		top:200px
  }
	.slider-container{
		position: absolute;
		top:20px;
		left:20px;

	}
	.slider {
		-webkit-appearance: none;
		width: 300px;
		height: 15px;
		border-radius: 5px;
		background: #d3d3d3;
		outline: none;
		opacity: 0.7;
		-webkit-transition: 0.2s;
		transition: opacity 0.2s;
	}

	.slider::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background: #3f5c8c;
		cursor: pointer;
	}

	.slider::-moz-range-thumb {
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background: #3f5c8c;
		cursor: pointer;
	}


}
