.App {
	text-align: center;

	button {
		font-weight: bold;
	}
	.text-input{
		font-variant: small-caps;
		background-color:aqua;
		font-size: 20px;
		font-weight: bold;
	}
	.test-word{
		font-size:20px;
		width:1.2rem;
		padding:5px;
		margin:3px;
	}

	.highlighted{
		background-color: yellow;

	}
}
