$hover-color: #ae9461;
$primary-color: black;
$animationSpeed: 5s;

.scrambler {
	text-align: center;

	button {
		font-weight: bold;
	}
	.game-card,
	.retry-card,
	.visitLater-card,
	.loading-card {
		margin: 5rem auto;
		padding: 5rem;
	}
	.display-word {
		margin-top: 0.7rem;
	}
	.text-input {
		text-align: center;
		text-transform: uppercase;
		font-size: 3rem;
		border: none;
		border-bottom: 2px solid rgb(206, 203, 203);
		padding: 0.5rem;
		background: transparent;
		transition: border-color 0.2s;
		outline: none;
		letter-spacing: 1rem;
	}
	.text-input::placeholder {
		font-size: 1.9rem;
		letter-spacing: 0.5rem;
		color: rgb(210, 215, 215);
	}
	.text-input:focus {
		border: none;
		border-bottom: 2px solid rgb(166, 103, 103);
	}
	.test-word {
		text-transform: uppercase;
		text-align: center;
		font-size: 3rem;
		letter-spacing: 0.3rem;
		padding: 5px;
		margin: 3px;
	}

	.highlighted,
	.retry-btn:hover,
	.redirect-btn-home:hover {
		background-color: $hover-color;
	}
	.retry-title,
	.visitLater-title {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			background-color: white;
			animation: reveal $animationSpeed linear forwards;
		}
	}
	.retry-title,
	.visitLater-title,
	.discount-title,
	.loading-title {
		font-size: 2rem;
		text-transform: uppercase;
		padding: 1.5rem;
		font-family: "Geomanist-Bold", sans-serif;
		color: $primary-color;
		position: relative;
	}
	.visitLater-hours {
		color: $hover-color;
	}
	.discount-code {
		font-family: "Geomanist-Bold";
		font-size: 40px;
		color: white;
		padding: 1.5rem;
		filter: drop-shadow(3px 3px 3px #444343);
	}
	.redirect-btn-home,
	.retry-btn {
		font-family: "Geomanist-Regular", sans-serif;
		font-size: 14px;
		margin: 5px;
		text-transform: uppercase;
		padding: 6px 31px 4px;
		display: inline-flex;
		align-items: center;
		text-decoration: none;
		border: none;
		border-radius: 6px;
		height: 40px;
		cursor: pointer;
		color: rgb(255, 255, 255);
		background: $primary-color;
		opacity: 0;
		animation: fadeInUp 1s ease calc($animationSpeed - 1s) forwards;
		transform: translateY(3rem);
		transition: all 0.3s linear;
	}
	.discount-collection{
		text-decoration: none;
		font-family: "Geomanist-Regular", sans-serif;
		font-size: 14px;
		text-transform: uppercase;
		&:hover{
			color: $hover-color;
		}
	}
	.loading-card {
		display: flex;
		justify-content: center;
		.loading-title {
			font-family: "Geomanist-Bold";
			position: relative;
			font-size: 3rem;
			&::before {
				content: attr(data-loading-attribute);
				text-transform: uppercase;
				overflow: hidden;
				position: absolute;
				color: $hover-color;
				transition: width 0.3 linear;
				animation: loading 3s ease infinite;
			}
		}
	}
	@keyframes loading {
		0% {
			width: 0;
		}
		100% {
			width: 83%;
		}
	}

	@keyframes reveal {
		to {
			left: 100%;
		}
	}

	@keyframes fadeInUp {
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
	@media only screen and (max-width: 500px) {
		.game-card,
		.retry-card,
		.visitLater-card {
			width: 100%;
			padding: 1rem;
			margin: 0;
		}
		.text-input::placeholder {
			font-size: 1.1rem;
			letter-spacing: 0.5rem;
			color: rgb(210, 215, 215);
		}

		.text-input {
			font-size: 1.5rem;
			letter-spacing: 1rem;
			width: 100%;
		}
		.test-word,
		.discount-title,
		.discount-code {
			font-size: 1.5rem;
			padding: 5px;
			margin: 3px;
		}
	}
}
